/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Button styles */
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #3e8e41;
}

/* Heading styles */
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

/* PatientList.css */

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 300px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #f2f2f2;
  font-weight: bold;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  color: white !important; /* Change the color to white */
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f0f0f0; /* Change the off-white color on hover */
  color: #333; /* Change the color to off-black on hover */
}

.btn.btn-edit {
  background-color: rgb(255,165,0);
}

.btn.btn-edit:hover {
  background-color: rgb(255, 135, 0);
  filter: brightness(110%);
}




.btn.btn-view {
  background-color: #3c8dbc;
}

.btn.btn-view:hover {
  background-color: #2980b9; /* Change the color to your desired hover effect */
}


.btn.btn-delete {
  background-color: rgb(231, 76, 60);
}

.btn.btn-delete:hover {
  background-color: rgb(192, 57, 43); /* Change the color to your desired hover effect */
}

.btn.btn-billing {
  background-color: rgb(195, 16, 64);
}

.btn.btn-billing:hover {
  background-color: rgb(150, 10, 50); /* Change the color to your desired hover effect */
}

.toast-success {
  background-color: #28a745;
}

/* PatientList.css */

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.input-container {
  margin-left: 10px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input-container input[type="text"] {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
}

.input-container button {
  margin-bottom: 8px ;
  margin-right: 1000px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: bold;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #3e8e41;
}
