/* DoctorForm.css */

.tanaya {
    color: #ff6e14;
    font-size: 24px;
    margin-top: 15px;

  }
  
  .mt-3 {
    margin-top: 15px;
  }
  
  .primary-button {
    background-color: #1890ff;
    border-color: #1890ff;
    color: #fff;
  }
  
  .primary-button:hover,
  .primary-button:focus {
    background-color: #40a9ff;
    border-color: #40a9ff;
    color: #fff;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-end {
    justify-content: flex-end;
  }
  input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
select,
textarea {
  margin-top: 0.5rem;
  padding: 1.2rem;
  border: 2px solid #005550; /* Dark blue border */
  border-radius: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
  background-color: #f0f5f9; /* Light blue background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
